#simplePageContenidoIzq
{
    background-color: #fff;  
    opacity:0.5;
    background:url('../images/lc_body.jpg') no-repeat right center;
    width:400px;
    height:300px;
    margin-top:10px;
}

#simplePageContenidoIzq div
{
    margin-left:25px;
    width:350px;
    text-align:justify;
}